/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Arial';
  background-color: #7E93A7;
  color: #C7DDE1;
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
}


button {
  background-color: #B1C7CC;
  color: #fff;
  border-radius: 20px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 300%;
}

.courses {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 500px;


  li {
    text-align: left;

    padding: 15px 50px 70px 50px;
    margin-bottom: 50px;
    cursor: pointer;

    box-shadow: 8px 12px 8px rgba(0, 0, 0, 0.25);

    background: #F0F2F3;
    border-radius: 25px;

    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 5px;
    letter-spacing: 0.05em;

    color: #0F0C35;

    p {
      font-weight: 550;
    }


  }

}

.toolbar {
  padding: 5px;
  text-align: center;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.buttons {
  margin: -80px 20px 0 20px;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 2;

  button {
    margin: 0 20px 20px 20px;
    height: 160px;
    width: 388px;
    border-radius: 30px;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
  }

}

.white {
  background-color: #F6F6F6;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  font-family: 'Oxygen', Arial, sans-serif;
  color: #EAF9FC;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 126px;
  text-align: center;
  letter-spacing: 0.1em;
}

.hello {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #C7DDE1;
}

.emailtext {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #C7DDE1;
}

.capital {
  text-transform: uppercase;
}

.hand {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: auto;
}

.raised-hand {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: auto;
  transform-origin: 60% 80%;
  animation: wave-animation 2.5s infinite;
}


.mic {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: auto;

  background-color: #B1C7CC;
  box-shadow: none;

  &.active {
    animation: pulse 2s infinite;
    background-color: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);

    svg {
      animation: pulse-scale 2s infinite;
    }
  }


  text-align: center;

  svg {
    fill: #fff;
    width: 100px;
    margin-top: 75px;
    transform: scale(1);

  }
}

@keyframes pulse-scale {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 60px rgba(255, 82, 82, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}


@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }
  10% {
    transform: rotate(-10.0deg)
  }
  20% {
    transform: rotate(12.0deg)
  }
  30% {
    transform: rotate(-10.0deg)
  }
  40% {
    transform: rotate(9.0deg)
  }
  50% {
    transform: rotate(0.0deg)
  }
  100% {
    transform: rotate(0.0deg)
  }
}

/* Small devices */
@media (max-width: 768px) {

}
