.start-class-button {
  width: 90%;
  font-size: 160%;
  padding: 20px;
  height: auto;
}

.question-button {
  width: 100%;
  margin-bottom: 20px;
  padding-right: 50px;
  position: relative;
  text-align: left;
  color: #45426A;
  background: #F0F2F3;
  svg {
    width: 20px;
    position: absolute;
    right: 15px;
    top:10px;
    z-index: 2;
    fill:  #b1c7cc;
  }
  &.active {
    svg {
      fill:  #45426a;
    }
  }

}
